{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
<!--header start here-->
<header class="lp-header header-style-one">
    <div class="lp-logobar">
        <div class="container">
            <div class="lp-logobar-row flex align-center">
                <div class="lp-header-left">
                    <ul class="nav-list flex align-center desk-only" role="list">
                       {% for link in linklists.littleposy.links limit: 3 offset: 0 %} 
                          <li class="menu-has-item menu-item">
                              <a href="{{ link.url }}">
                                 {{ link.title }}
                              </a>
                              <div class="mega-menu">
                                  <div class="mega-menu-inner flex">
                                      <div class="mega-col">
                                          <div class="mega-col-inner">
                                              <ul class="mega-list">
                                                  {% for child_link in link.links %}
                                                    <li>
                                                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                                    </li>
                                                   {% endfor %}
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="mega-col">
                                          <div class="image-holder">
                                              <img src="images/im1.png">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      
                        {% endfor %}

                        
                    </ul>
                </div>
                <div class="lp-header-center text-center">
                    <div class="lp-logo">
                        <a href="index.html">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1190.6 506.3"
                                style="enable-background:new 0 0 1190.6 506.3;" xml:space="preserve" height="61px"
                                width="150px">
                                <g>
                                    <polygon
                                        points="14,87.6 14,95.5 37.3,95.5 37.3,159.3 45.5,159.3 45.5,95.5 69,95.5 69,87.6  " />
                                    <polygon
                                        points="144.5,159.3 144.5,127.8 101.3,127.8 101.3,159.3 93.1,159.3 93.1,87.6 101.3,87.6 101.3,120 144.5,120    144.5,87.6 152.7,87.6 152.7,159.3  " />
                                    <polygon
                                        points="194.9,95.5 194.9,119.1 231.1,119.1 231.1,127 194.9,127 194.9,151.5 236.7,151.5 236.7,159.3 186.7,159.3    186.7,87.6 235.4,87.6 235.4,95.5  " />
                                    <path
                                        d="M1082.2,331.4l-4.9,6.2c-5.5-5.6-13.3-9-21.2-9c-16.2,0-29.2,12.5-29.2,28.3c0,15.7,13,28.3,29.2,28.3   c7.9,0,15.6-3.3,21.2-8.6l5,5.6c-7.1,6.7-16.7,11.1-26.6,11.1c-20.7,0-37.1-16.1-37.1-36.4c0-20.1,16.6-35.9,37.4-35.9   C1065.8,320.9,1075.3,324.9,1082.2,331.4" />
                                    <path
                                        d="M1109.1,357c0,15.8,13.3,28.4,29.3,28.4s29.1-12.6,29.1-28.4c0-15.8-13.1-28.3-29.1-28.3S1109.1,341.2,1109.1,357    M1175.9,357c0,20.2-16.6,36.2-37.5,36.2c-21,0-37.6-16.1-37.6-36.2c0-20.3,16.6-36,37.6-36C1159.3,320.9,1175.9,336.8,1175.9,357" />
                                    <path
                                        d="M479.3,408.6c21.7,0,40.7-17.1,40.7-54.6c0-40.8-19.8-64-42.9-64c-15.7,0-32.1,11-40,27.6v65.2   C444.8,398.6,461.8,408.6,479.3,408.6 M413.8,323.4c0-10-1.2-16.6-3.3-20.6c-2-3.5-5.7-5.1-10.1-5.7c-4.9-0.8-7.5-2.3-7.5-5   c0-1.8,0.7-3.6,7.3-4.9c10.8-2.1,21.2-5.4,27.6-9c5.5-3.2,7.8-3.7,9.7-3.7s3.5,1.5,3.5,3.4c0,2.1-1.2,4.5-1.9,7.5   c-0.9,3.5-1.5,7.9-1.8,15c11.6-16.4,27.9-25.9,46.2-25.9c38.8,0,61.4,30.4,61.4,71.2c0,40.6-29.8,73.9-70.2,73.9   c-13.6,0-27.3-4-37.6-11.4v30c0,27.9,0.6,31.5,5.1,31.5c1.7,0,3.9-0.5,6.8-0.5c2.4,0,4.9-0.3,7.2-0.6c2.1-0.3,4-0.6,6.1-0.6   c4.1,0,6.6,3.2,6.6,5.8c0,3.9-3.5,6.5-11,6.5c-5.2,0-10.3-0.5-15.6-1.2c-5.2-0.7-10.5-1.1-16-1.1c-5.3,0-10.1,0.6-14.6,1.1   c-4.6,0.6-8.4,1.2-12.5,1.2c-7.5,0-10.1-3.3-10.1-6.5c0-2.7,2.3-5.2,5.5-5.2c1.8,0,2.9,0.3,3.9,0.5c0.9,0.1,2,0.3,3.6,0.3   c2.1,0,3.7,0.3,5.1,0.3c5.1,0,6.5-3.1,6.5-31.5L413.8,323.4L413.8,323.4z" />
                                    <path
                                        d="M644.2,408.8c24.6,0,43-21.4,43-55.2c0-45.1-23.4-67.9-50.4-67.9c-24.6,0-43,21.5-43,55.2   C593.8,386,617.2,408.8,644.2,408.8 M640.9,274.5c48.6,0,70.5,32.2,70.5,69.9c0,39.9-29.6,75.3-72.4,75.3   c-48.6,0-70.5-32.3-70.5-69.9C568.4,309.9,598,274.5,640.9,274.5" />
                                    <path
                                        d="M748.1,375.8c3,0.5,5.1,2.7,6.9,8.1c4.8,14.1,17.1,25.4,36.6,25.4c16.1,0,30.3-8.9,30.3-21.9c0-12.5-8.4-20.8-41.2-34.2   c-28.1-11.4-38.8-25.8-38.8-42.9c0-20.3,20.8-35.7,48.7-35.7c26.2,0,41.4,13.2,41.4,21.9c0,5.3-6.2,9.5-13.4,9.5   c-2.3,0-4.8-1.6-8-6.6c-7.2-11.1-15-14.1-24.7-14.1c-16,0-24.9,8.3-24.9,16.6c0,9.9,6.3,16.8,35.5,28.9   c31.8,13.1,44.7,27.7,44.7,46.5c0,24.9-22.2,42.5-54.5,42.5c-30.4,0-52.2-20.1-52.2-33.9C734.6,381.6,741.1,374.6,748.1,375.8" />
                                    <path
                                        d="M876.4,465.8c3.6,2.8,8.7,4.8,10.2,4.8c8.4,0,17.4-0.9,39-58.8c-3-2.6-8.6-9-20.4-34.7L872,303.9   c-5.7-12.1-8.1-16.5-17.4-19c-4.2-1.1-6.5-2.8-6.5-5.5c0-1.8,2.1-3.6,6.2-3.6c8.4,0,12.4,1.7,23.2,1.7c14.6,0,17.7-1.7,26.8-1.7   c6.8,0,10.2,1.2,10.2,4.4c0,2.8-3.1,4.6-12,5.1c-7.8,0.5-9,3-9,6c0,1.4,0.9,4.2,4.5,12l36.6,82.6c0-0.3,0.2-0.6,0.3-0.9l25.5-75.1   c3.1-8.7,5.5-14.9,5.4-18.5c0-4.4-2.5-5.5-9.3-6.2c-9-0.7-12.1-1.9-12.1-5.1c0-2.4,2.8-4.4,10.2-4.4c6.6,0,14.9,1.5,25.5,1.5   c7.3,0,12.3-1.5,17.4-1.5c3.7,0,6.1,1.5,6.1,3.8c0,2.2-1.3,3.7-7.3,5.8c-10.4,3.6-15.2,7.4-23.6,30.3l-22.5,61.2   c-18.2,49.8-32.7,82.9-41.8,95c-10.2,13-22.1,16.2-30.3,16.2c-17.1,0-26.4-7.4-26.6-15c-0.2-5.7,6.6-11.5,13.1-11.5   C867.8,461.4,873.5,463.5,876.4,465.8" />
                                    <path
                                        d="M295.8,218.1c1.8,0,2.8,0.3,3.9,0.5c0.7,0.2,1.8,0.3,3.6,0.3c9.3,0,11.6-4.4,11.6-40.6V66.5c0-10-1.2-16.8-3.3-20.7   c-1.9-3.5-2.7-5.1-7-5.7c-5-0.7-7.5-2.2-7.5-4.9c0-1.8,0.6-3.6,7.4-4.9c10.8-2.1,18.2-5.4,24.6-9c5.4-3.2,7.8-3.8,9.8-3.8   c1.9,0,3.4,1.5,3.4,3.5c0,2.1-1.2,4.5-1.9,7.5c-1.5,6-2.1,15.7-2.1,36.9v113c0,36.3,2.3,40.6,11.6,40.6c1.8,0,2.8-0.1,3.6-0.3   c1.1-0.2,2.1-0.5,3.9-0.5c3.5,0,5.5,1.6,5.5,4.4c0,3.5-2.4,5.5-9.9,5.5c-4.2,0-7.8-0.6-12.6-1.2c-4.4-0.5-7.9-1.1-13-1.1   c-5.3,0-10.1,0.6-14.4,1.1c-4.8,0.6-8.4,1.2-12.6,1.2c-7.5,0-9.9-2.1-9.9-5.5C290.3,219.8,292.4,218.1,295.8,218.1" />
                                    <path
                                        d="M386,218.1c1.8,0,2.8,0.3,4.1,0.5c0.7,0.2,1.8,0.3,3.4,0.3c9.3,0,11.7-4.4,11.7-40.6v-45.2c0-10-0.6-16.6-2.7-20.5   c-1.8-3.5-6.5-5.1-10.6-5.7c-5.1-0.7-7.6-2.3-7.6-5c0-2.1,1.5-3.7,7.5-4.9c10.6-2.1,21.1-5.4,27.6-9c5.5-3.2,8.1-3.7,10-3.7   c2.1,0,3.5,1.5,3.5,3.5c0,2.1-1,4.5-1.8,7.5c-1.7,6-2.3,15.6-2.3,36.7v46.2c0,36.3,2.4,40.6,11.7,40.6c1.6,0,2.7-0.1,3.5-0.3   c1.2-0.2,2.3-0.5,4.1-0.5c3.3,0,5.5,1.6,5.5,4.4c0,3.5-2.5,5.5-10.1,5.5c-4,0-7.8-0.6-12.4-1.2c-4.5-0.5-8.4-1.1-13.6-1.1   c-5.3,0-9.9,0.6-14.4,1.1c-4.6,0.6-8.4,1.2-12.5,1.2c-7.5,0-10-2.1-10-5.5C380.4,219.8,382.7,218.1,386,218.1" />
                                    <path
                                        d="M653.4,204.9c-3,0-4.4,1.5-9.2,5.1c-4,3-8.7,4.8-15.3,4.8c-11.4,0-19-6.6-19-28.9V111c0-4.5,3.7-8.2,8.2-8.1l34.4,0.4   c3.6,0,4.8-1,4.8-4c0-2.4-2.1-10.1-5.3-10.1l-33.8,0.7c-4.6,0.1-8.3-3.6-8.3-8.1V56.2c0-5.4-1-8.5-4.8-8.5c-2.8,0-4.2,2.2-6.7,8.3   c-3,7-4.5,13.5-9.3,22.5c-1.8,3.5-4.3,6.5-7.6,8.8c-1.2,0.9-2.7,1.3-4.2,1.3L515.4,90c-4.6,0.1-8.3-3.6-8.3-8.1V56.3   c0-5.4-1-8.5-4.8-8.5c-2.8,0-4.2,2.2-6.7,8.3c-3,7-4.5,13.5-9.3,22.5c-3.3,6.5-8.8,11.1-17.1,13c-3,0.7-5.3,2.4-5.3,5.4   c0,3.6,3.6,5.5,10.8,5.5h1c4.5,0,8.1,3.6,8.1,8.1v77.5c0,25.9,11.8,41.5,34,41.5c7.9,0,15.6-0.9,24.5-5.7   c9.7-5.5,13.3-9.7,13.3-12.6c0-2.7-2.4-6.3-5.1-6.3c-3,0-4.4,1.5-9.1,5.1c-4.1,3-8.7,4.8-15.3,4.8c-11.4,0-19.1-6.6-19.1-28.9v-75   c0-4.5,3.6-8.1,8.1-8.1l61.4-0.4c0.3,0,0.6,0,1,0h1c4.5,0,8.1,3.6,8.1,8.1v77.5c0,25.9,11.9,41.5,34.1,41.5   c7.9,0,15.6-0.9,24.4-5.7c9.8-5.5,13.4-9.7,13.4-12.6C658.5,208.5,656.1,204.9,653.4,204.9" />
                                    <path
                                        d="M677.9,218.1c1.8,0,2.8,0.3,3.9,0.5c0.7,0.2,1.8,0.3,3.6,0.3c9.3,0,11.6-4.4,11.6-40.6V66.5c0-10-1.2-16.8-3.3-20.7   c-1.9-3.5-2.7-5.1-7-5.7c-5-0.7-7.5-2.2-7.5-4.9c0-1.8,0.6-3.6,7.4-4.9c10.8-2.1,18.1-5.4,24.6-9c5.4-3.2,7.8-3.8,9.8-3.8   c1.9,0,3.4,1.5,3.4,3.5c0,2.1-1.2,4.5-1.9,7.5c-1.5,6-2.1,15.7-2.1,36.9v113c0,36.3,2.3,40.6,11.6,40.6c1.8,0,2.8-0.1,3.6-0.3   c1.1-0.2,2.1-0.5,3.9-0.5c3.5,0,5.5,1.6,5.5,4.4c0,3.5-2.4,5.5-9.9,5.5c-4.2,0-7.8-0.6-12.6-1.2c-4.4-0.5-7.9-1.1-13-1.1   c-5.3,0-10.1,0.6-14.4,1.1c-4.8,0.6-8.4,1.2-12.6,1.2c-7.5,0-9.9-2.1-9.9-5.5C672.3,219.8,674.4,218.1,677.9,218.1" />
                                    <path
                                        d="M859.8,141.9c4-0.5,5.8-1.3,5.8-9.6c0-22.9-16.4-37.5-35.1-37.5c-21.6,0-39.7,19.6-40.3,52.8   C813.5,146.4,838.1,144.5,859.8,141.9 M835.4,84c33.7,0,54.1,24.9,54.1,54.8c0,9.7-2.7,13-8.3,13.8c-6.9,1.1-60.3,3.3-90.7,6.2   c2.7,34.9,21.3,56.2,51.1,56.2c11.5,0,24.9-4,33.2-12.6c4.2-4.2,6-5.4,8.7-5.4c3.2,0,5,3.3,5,6.5c0,4.4-6.2,10.8-17.7,17.6   c-10.5,6.2-25.2,8.5-38.4,8.5c-41.8,0-67.8-30.7-67.8-72.3C764.6,113,796.4,84,835.4,84" />
                                    <path
                                        d="M433,37.6c0,8.9-7.2,16-16,16c-8.9,0-16-7.2-16-16c0-8.9,7.2-16,16-16C425.8,21.5,433,28.7,433,37.6" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="lp-header-right flex align-center justify-end">
                    <ul class="nav-list flex align-center desk-only" role="list">
                        {% for link in linklists.littleposy.links limit: 3 offset: 3 %} 
                          <li class="menu-has-item menu-item">
                              <a href="{{ link.url }}">{{ link.title }}</a>
                            {%- for childlink in link.links -%}
                              
                               {% if childlink.links == blank %}
                                
                                <div class="mega-menu">
                                    <div class="mega-menu-inner flex">
                                        <div class="mega-col">
                                            <div class="mega-col-inner">
                                                <ul class="mega-list">
                                                    {% for child_link in link.links %}
                                                      <li>
                                                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                                      </li>
                                                     {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mega-col">
                                            <div class="image-holder">
                                                <img src="images/im1.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                {% endif %}
                              
                              {% endfor %}
                          </li>
                        {% endfor %}
                      
                    </ul>
                    <ul class="social-list flex align-center" role="list">
                        <li class="search-icon">
                            <a href="javascript:void(0)" class="search-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
                                    height="21px" width="21px" class="svg replaced-svg">
                                    <g>
                                        <path
                                            d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z">
                                        </path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="{{ settings.facebook_url }}">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="Layer_1" x="0px" y="0px" height="21px" width="21px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve" class="svg replaced-svg">
                                    <g>
                                        <g>
                                            <path
                                                d="M373.659,0H138.341C62.06,0,0,62.06,0,138.341v235.318C0,449.94,62.06,512,138.341,512h235.318    C449.94,512,512,449.94,512,373.659V138.341C512,62.06,449.94,0,373.659,0z M470.636,373.659    c0,53.473-43.503,96.977-96.977,96.977H138.341c-53.473,0-96.977-43.503-96.977-96.977V138.341    c0-53.473,43.503-96.977,96.977-96.977h235.318c53.473,0,96.977,43.503,96.977,96.977V373.659z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path
                                                d="M370.586,238.141c-3.64-24.547-14.839-46.795-32.386-64.342c-17.547-17.546-39.795-28.746-64.341-32.385    c-11.176-1.657-22.507-1.657-33.682,0c-30.336,4.499-57.103,20.541-75.372,45.172c-18.269,24.631-25.854,54.903-21.355,85.237    c4.499,30.335,20.541,57.102,45.172,75.372c19.996,14.831,43.706,22.619,68.153,22.619c5.667,0,11.375-0.418,17.083-1.265    c30.336-4.499,57.103-20.541,75.372-45.172C367.5,298.747,375.085,268.476,370.586,238.141z M267.791,327.632    c-19.405,2.882-38.77-1.973-54.527-13.66c-15.757-11.687-26.019-28.811-28.896-48.216c-2.878-19.405,1.973-38.77,13.66-54.527    c11.688-15.757,28.811-26.019,48.217-28.897c3.574-0.53,7.173-0.795,10.772-0.795s7.199,0.265,10.773,0.796    c32.231,4.779,57.098,29.645,61.878,61.877C335.608,284.268,307.851,321.692,267.791,327.632z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path
                                                d="M400.049,111.951c-3.852-3.851-9.183-6.058-14.625-6.058c-5.442,0-10.773,2.206-14.625,6.058    c-3.851,3.852-6.058,9.174-6.058,14.625c0,5.451,2.207,10.773,6.058,14.625c3.852,3.851,9.183,6.058,14.625,6.058    c5.442,0,10.773-2.206,14.625-6.058c3.851-3.852,6.058-9.183,6.058-14.625C406.107,121.133,403.9,115.802,400.049,111.951z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="{{ settings.insta_url }}">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="Capa_1" x="0px" y="0px" height="21px" width="21px"
                                    viewBox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;"
                                    xml:space="preserve" class="svg replaced-svg">
                                    <path id="Facebook"
                                        d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805   c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354   c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z"
                                        fill="#000"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="cart-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 157.2 217.82" height="25px" width="18px" class="svg replaced-svg">
                                    <path
                                        d="M45.07,60.05V41.75c0-7.4,1.6-14.4,5.6-20.6,7.4-11.6,17.9-17.9,31.8-18.4a38,38,0,0,1,38.1,30.1,52.65,52.65,0,0,1,.9,8.9c.1,6,0,12,0,18.3h34.9c4,0,5.6,1.5,5.6,5.5V215c0,4.2-1.4,5.6-5.6,5.6H10.47c-4.3,0-5.7-1.4-5.7-5.7V65.65c0-4,1.6-5.6,5.5-5.6h34.8Zm9,9v2.4c0,4.3.1,8.7,0,13-.1,3-1.9,4.7-4.5,4.7s-4.4-1.9-4.4-4.8c-.1-3.4,0-6.9,0-10.3v-5H14v142.3h139.1V69h-31.4c0,.7-.1,1.3-.1,1.9v13c0,3.2-1.7,5.2-4.4,5.2s-4.5-1.8-4.5-5.1V71c0-.7-.1-1.3-.1-2C92.87,69.05,73.67,69.05,54.07,69.05Zm58.3-9.1c0-7.1.3-14-.1-20.9-.8-17.7-17.8-30.5-35-26.7-13.4,3-22.7,13.9-23.1,27.6-.2,6.3-.1,12.6-.1,18.9a5.16,5.16,0,0,0,.2,1.1Z"
                                        transform="translate(-4.77 -2.73)"></path>
                                </svg>
                                <span class="count">{{ cart.item_count }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-search">
        <span class="close">X</span>
        <form action="{{ routes.search_url }}" method="get" accept-charset="utf-8" id="searchform">
            <div class="form-group">
                <input type="search" placeholder="Search text here" class="form-control-search" name="q" required="" value="{{ search.terms | escape }}">
                <button type="submit" class="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        viewBox="0 0 512 512" enable-background="new 0 0 512 512" height="21px" width="21px">
                        <g>
                            <path class="fill" style="fill: #6C6047;"
                                d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" />
                        </g>
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="mobile-menu-bottom mobile-only">
        <div class="container">
            <div class="flex mobile-menu-row flex align-center justify-between">
                <div class="mobile-toggle mobile-only">
                    <button class="mobile-menu-button" id="menu">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </button>
                </div>
                <div class="mobile-right-icons flex align-center justify-end">
                    <div class="mobile-right-ic flex align-center justify-end">
                        <div class="mobile-search mb-btn">
                            <div class="mobile-search-ic">
                                <a href="javascript:void(0)" class="search-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                        viewBox="0 0 512 512" enable-background="new 0 0 512 512" height="21px"
                                        width="21px" class="svg replaced-svg">
                                        <g>
                                            <path
                                                d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z">
                                            </path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="mobile-cart mb-btn">
                            <a href="javascript:;" class="cart-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 157.2 217.82" height="25px" width="18px" class="svg replaced-svg">
                                    <path
                                        d="M45.07,60.05V41.75c0-7.4,1.6-14.4,5.6-20.6,7.4-11.6,17.9-17.9,31.8-18.4a38,38,0,0,1,38.1,30.1,52.65,52.65,0,0,1,.9,8.9c.1,6,0,12,0,18.3h34.9c4,0,5.6,1.5,5.6,5.5V215c0,4.2-1.4,5.6-5.6,5.6H10.47c-4.3,0-5.7-1.4-5.7-5.7V65.65c0-4,1.6-5.6,5.5-5.6h34.8Zm9,9v2.4c0,4.3.1,8.7,0,13-.1,3-1.9,4.7-4.5,4.7s-4.4-1.9-4.4-4.8c-.1-3.4,0-6.9,0-10.3v-5H14v142.3h139.1V69h-31.4c0,.7-.1,1.3-.1,1.9v13c0,3.2-1.7,5.2-4.4,5.2s-4.5-1.8-4.5-5.1V71c0-.7-.1-1.3-.1-2C92.87,69.05,73.67,69.05,54.07,69.05Zm58.3-9.1c0-7.1.3-14-.1-20.9-.8-17.7-17.8-30.5-35-26.7-13.4,3-22.7,13.9-23.1,27.6-.2,6.3-.1,12.6-.1,18.9a5.16,5.16,0,0,0,.2,1.1Z"
                                        transform="translate(-4.77 -2.73)"></path>
                                </svg>
                                <span class="count">1</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav">
        <div class="mobile-inner">
            <div class="mobile-logo">
                <a href="index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Layer_1" x="0px" y="0px" viewBox="0 0 1190.6 506.3"
                        style="enable-background:new 0 0 1190.6 506.3;" xml:space="preserve" height="61px"
                        width="150px">
                        <g>
                            <polygon
                                points="14,87.6 14,95.5 37.3,95.5 37.3,159.3 45.5,159.3 45.5,95.5 69,95.5 69,87.6  ">
                            </polygon>
                            <polygon
                                points="144.5,159.3 144.5,127.8 101.3,127.8 101.3,159.3 93.1,159.3 93.1,87.6 101.3,87.6 101.3,120 144.5,120    144.5,87.6 152.7,87.6 152.7,159.3  ">
                            </polygon>
                            <polygon
                                points="194.9,95.5 194.9,119.1 231.1,119.1 231.1,127 194.9,127 194.9,151.5 236.7,151.5 236.7,159.3 186.7,159.3    186.7,87.6 235.4,87.6 235.4,95.5  ">
                            </polygon>
                            <path
                                d="M1082.2,331.4l-4.9,6.2c-5.5-5.6-13.3-9-21.2-9c-16.2,0-29.2,12.5-29.2,28.3c0,15.7,13,28.3,29.2,28.3   c7.9,0,15.6-3.3,21.2-8.6l5,5.6c-7.1,6.7-16.7,11.1-26.6,11.1c-20.7,0-37.1-16.1-37.1-36.4c0-20.1,16.6-35.9,37.4-35.9   C1065.8,320.9,1075.3,324.9,1082.2,331.4">
                            </path>
                            <path
                                d="M1109.1,357c0,15.8,13.3,28.4,29.3,28.4s29.1-12.6,29.1-28.4c0-15.8-13.1-28.3-29.1-28.3S1109.1,341.2,1109.1,357    M1175.9,357c0,20.2-16.6,36.2-37.5,36.2c-21,0-37.6-16.1-37.6-36.2c0-20.3,16.6-36,37.6-36C1159.3,320.9,1175.9,336.8,1175.9,357">
                            </path>
                            <path
                                d="M479.3,408.6c21.7,0,40.7-17.1,40.7-54.6c0-40.8-19.8-64-42.9-64c-15.7,0-32.1,11-40,27.6v65.2   C444.8,398.6,461.8,408.6,479.3,408.6 M413.8,323.4c0-10-1.2-16.6-3.3-20.6c-2-3.5-5.7-5.1-10.1-5.7c-4.9-0.8-7.5-2.3-7.5-5   c0-1.8,0.7-3.6,7.3-4.9c10.8-2.1,21.2-5.4,27.6-9c5.5-3.2,7.8-3.7,9.7-3.7s3.5,1.5,3.5,3.4c0,2.1-1.2,4.5-1.9,7.5   c-0.9,3.5-1.5,7.9-1.8,15c11.6-16.4,27.9-25.9,46.2-25.9c38.8,0,61.4,30.4,61.4,71.2c0,40.6-29.8,73.9-70.2,73.9   c-13.6,0-27.3-4-37.6-11.4v30c0,27.9,0.6,31.5,5.1,31.5c1.7,0,3.9-0.5,6.8-0.5c2.4,0,4.9-0.3,7.2-0.6c2.1-0.3,4-0.6,6.1-0.6   c4.1,0,6.6,3.2,6.6,5.8c0,3.9-3.5,6.5-11,6.5c-5.2,0-10.3-0.5-15.6-1.2c-5.2-0.7-10.5-1.1-16-1.1c-5.3,0-10.1,0.6-14.6,1.1   c-4.6,0.6-8.4,1.2-12.5,1.2c-7.5,0-10.1-3.3-10.1-6.5c0-2.7,2.3-5.2,5.5-5.2c1.8,0,2.9,0.3,3.9,0.5c0.9,0.1,2,0.3,3.6,0.3   c2.1,0,3.7,0.3,5.1,0.3c5.1,0,6.5-3.1,6.5-31.5L413.8,323.4L413.8,323.4z">
                            </path>
                            <path
                                d="M644.2,408.8c24.6,0,43-21.4,43-55.2c0-45.1-23.4-67.9-50.4-67.9c-24.6,0-43,21.5-43,55.2   C593.8,386,617.2,408.8,644.2,408.8 M640.9,274.5c48.6,0,70.5,32.2,70.5,69.9c0,39.9-29.6,75.3-72.4,75.3   c-48.6,0-70.5-32.3-70.5-69.9C568.4,309.9,598,274.5,640.9,274.5">
                            </path>
                            <path
                                d="M748.1,375.8c3,0.5,5.1,2.7,6.9,8.1c4.8,14.1,17.1,25.4,36.6,25.4c16.1,0,30.3-8.9,30.3-21.9c0-12.5-8.4-20.8-41.2-34.2   c-28.1-11.4-38.8-25.8-38.8-42.9c0-20.3,20.8-35.7,48.7-35.7c26.2,0,41.4,13.2,41.4,21.9c0,5.3-6.2,9.5-13.4,9.5   c-2.3,0-4.8-1.6-8-6.6c-7.2-11.1-15-14.1-24.7-14.1c-16,0-24.9,8.3-24.9,16.6c0,9.9,6.3,16.8,35.5,28.9   c31.8,13.1,44.7,27.7,44.7,46.5c0,24.9-22.2,42.5-54.5,42.5c-30.4,0-52.2-20.1-52.2-33.9C734.6,381.6,741.1,374.6,748.1,375.8">
                            </path>
                            <path
                                d="M876.4,465.8c3.6,2.8,8.7,4.8,10.2,4.8c8.4,0,17.4-0.9,39-58.8c-3-2.6-8.6-9-20.4-34.7L872,303.9   c-5.7-12.1-8.1-16.5-17.4-19c-4.2-1.1-6.5-2.8-6.5-5.5c0-1.8,2.1-3.6,6.2-3.6c8.4,0,12.4,1.7,23.2,1.7c14.6,0,17.7-1.7,26.8-1.7   c6.8,0,10.2,1.2,10.2,4.4c0,2.8-3.1,4.6-12,5.1c-7.8,0.5-9,3-9,6c0,1.4,0.9,4.2,4.5,12l36.6,82.6c0-0.3,0.2-0.6,0.3-0.9l25.5-75.1   c3.1-8.7,5.5-14.9,5.4-18.5c0-4.4-2.5-5.5-9.3-6.2c-9-0.7-12.1-1.9-12.1-5.1c0-2.4,2.8-4.4,10.2-4.4c6.6,0,14.9,1.5,25.5,1.5   c7.3,0,12.3-1.5,17.4-1.5c3.7,0,6.1,1.5,6.1,3.8c0,2.2-1.3,3.7-7.3,5.8c-10.4,3.6-15.2,7.4-23.6,30.3l-22.5,61.2   c-18.2,49.8-32.7,82.9-41.8,95c-10.2,13-22.1,16.2-30.3,16.2c-17.1,0-26.4-7.4-26.6-15c-0.2-5.7,6.6-11.5,13.1-11.5   C867.8,461.4,873.5,463.5,876.4,465.8">
                            </path>
                            <path
                                d="M295.8,218.1c1.8,0,2.8,0.3,3.9,0.5c0.7,0.2,1.8,0.3,3.6,0.3c9.3,0,11.6-4.4,11.6-40.6V66.5c0-10-1.2-16.8-3.3-20.7   c-1.9-3.5-2.7-5.1-7-5.7c-5-0.7-7.5-2.2-7.5-4.9c0-1.8,0.6-3.6,7.4-4.9c10.8-2.1,18.2-5.4,24.6-9c5.4-3.2,7.8-3.8,9.8-3.8   c1.9,0,3.4,1.5,3.4,3.5c0,2.1-1.2,4.5-1.9,7.5c-1.5,6-2.1,15.7-2.1,36.9v113c0,36.3,2.3,40.6,11.6,40.6c1.8,0,2.8-0.1,3.6-0.3   c1.1-0.2,2.1-0.5,3.9-0.5c3.5,0,5.5,1.6,5.5,4.4c0,3.5-2.4,5.5-9.9,5.5c-4.2,0-7.8-0.6-12.6-1.2c-4.4-0.5-7.9-1.1-13-1.1   c-5.3,0-10.1,0.6-14.4,1.1c-4.8,0.6-8.4,1.2-12.6,1.2c-7.5,0-9.9-2.1-9.9-5.5C290.3,219.8,292.4,218.1,295.8,218.1">
                            </path>
                            <path
                                d="M386,218.1c1.8,0,2.8,0.3,4.1,0.5c0.7,0.2,1.8,0.3,3.4,0.3c9.3,0,11.7-4.4,11.7-40.6v-45.2c0-10-0.6-16.6-2.7-20.5   c-1.8-3.5-6.5-5.1-10.6-5.7c-5.1-0.7-7.6-2.3-7.6-5c0-2.1,1.5-3.7,7.5-4.9c10.6-2.1,21.1-5.4,27.6-9c5.5-3.2,8.1-3.7,10-3.7   c2.1,0,3.5,1.5,3.5,3.5c0,2.1-1,4.5-1.8,7.5c-1.7,6-2.3,15.6-2.3,36.7v46.2c0,36.3,2.4,40.6,11.7,40.6c1.6,0,2.7-0.1,3.5-0.3   c1.2-0.2,2.3-0.5,4.1-0.5c3.3,0,5.5,1.6,5.5,4.4c0,3.5-2.5,5.5-10.1,5.5c-4,0-7.8-0.6-12.4-1.2c-4.5-0.5-8.4-1.1-13.6-1.1   c-5.3,0-9.9,0.6-14.4,1.1c-4.6,0.6-8.4,1.2-12.5,1.2c-7.5,0-10-2.1-10-5.5C380.4,219.8,382.7,218.1,386,218.1">
                            </path>
                            <path
                                d="M653.4,204.9c-3,0-4.4,1.5-9.2,5.1c-4,3-8.7,4.8-15.3,4.8c-11.4,0-19-6.6-19-28.9V111c0-4.5,3.7-8.2,8.2-8.1l34.4,0.4   c3.6,0,4.8-1,4.8-4c0-2.4-2.1-10.1-5.3-10.1l-33.8,0.7c-4.6,0.1-8.3-3.6-8.3-8.1V56.2c0-5.4-1-8.5-4.8-8.5c-2.8,0-4.2,2.2-6.7,8.3   c-3,7-4.5,13.5-9.3,22.5c-1.8,3.5-4.3,6.5-7.6,8.8c-1.2,0.9-2.7,1.3-4.2,1.3L515.4,90c-4.6,0.1-8.3-3.6-8.3-8.1V56.3   c0-5.4-1-8.5-4.8-8.5c-2.8,0-4.2,2.2-6.7,8.3c-3,7-4.5,13.5-9.3,22.5c-3.3,6.5-8.8,11.1-17.1,13c-3,0.7-5.3,2.4-5.3,5.4   c0,3.6,3.6,5.5,10.8,5.5h1c4.5,0,8.1,3.6,8.1,8.1v77.5c0,25.9,11.8,41.5,34,41.5c7.9,0,15.6-0.9,24.5-5.7   c9.7-5.5,13.3-9.7,13.3-12.6c0-2.7-2.4-6.3-5.1-6.3c-3,0-4.4,1.5-9.1,5.1c-4.1,3-8.7,4.8-15.3,4.8c-11.4,0-19.1-6.6-19.1-28.9v-75   c0-4.5,3.6-8.1,8.1-8.1l61.4-0.4c0.3,0,0.6,0,1,0h1c4.5,0,8.1,3.6,8.1,8.1v77.5c0,25.9,11.9,41.5,34.1,41.5   c7.9,0,15.6-0.9,24.4-5.7c9.8-5.5,13.4-9.7,13.4-12.6C658.5,208.5,656.1,204.9,653.4,204.9">
                            </path>
                            <path
                                d="M677.9,218.1c1.8,0,2.8,0.3,3.9,0.5c0.7,0.2,1.8,0.3,3.6,0.3c9.3,0,11.6-4.4,11.6-40.6V66.5c0-10-1.2-16.8-3.3-20.7   c-1.9-3.5-2.7-5.1-7-5.7c-5-0.7-7.5-2.2-7.5-4.9c0-1.8,0.6-3.6,7.4-4.9c10.8-2.1,18.1-5.4,24.6-9c5.4-3.2,7.8-3.8,9.8-3.8   c1.9,0,3.4,1.5,3.4,3.5c0,2.1-1.2,4.5-1.9,7.5c-1.5,6-2.1,15.7-2.1,36.9v113c0,36.3,2.3,40.6,11.6,40.6c1.8,0,2.8-0.1,3.6-0.3   c1.1-0.2,2.1-0.5,3.9-0.5c3.5,0,5.5,1.6,5.5,4.4c0,3.5-2.4,5.5-9.9,5.5c-4.2,0-7.8-0.6-12.6-1.2c-4.4-0.5-7.9-1.1-13-1.1   c-5.3,0-10.1,0.6-14.4,1.1c-4.8,0.6-8.4,1.2-12.6,1.2c-7.5,0-9.9-2.1-9.9-5.5C672.3,219.8,674.4,218.1,677.9,218.1">
                            </path>
                            <path
                                d="M859.8,141.9c4-0.5,5.8-1.3,5.8-9.6c0-22.9-16.4-37.5-35.1-37.5c-21.6,0-39.7,19.6-40.3,52.8   C813.5,146.4,838.1,144.5,859.8,141.9 M835.4,84c33.7,0,54.1,24.9,54.1,54.8c0,9.7-2.7,13-8.3,13.8c-6.9,1.1-60.3,3.3-90.7,6.2   c2.7,34.9,21.3,56.2,51.1,56.2c11.5,0,24.9-4,33.2-12.6c4.2-4.2,6-5.4,8.7-5.4c3.2,0,5,3.3,5,6.5c0,4.4-6.2,10.8-17.7,17.6   c-10.5,6.2-25.2,8.5-38.4,8.5c-41.8,0-67.8-30.7-67.8-72.3C764.6,113,796.4,84,835.4,84">
                            </path>
                            <path
                                d="M433,37.6c0,8.9-7.2,16-16,16c-8.9,0-16-7.2-16-16c0-8.9,7.2-16,16-16C425.8,21.5,433,28.7,433,37.6">
                            </path>
                        </g>
                    </svg>
                </a>
            </div>
            <ul class="accordion">
                <li class="accordion-list mobile-list">
                    <a href="#accordion-1" class="accordion-title mobile-link">Order Flowers</a>
                    <div class="accordion-content" id="accordion-1" style="display: none;">
                        <ul>
                            <li><a href="#">SHOP ALL FLOWERS</a></li>
                            <li><a href="#">MIXED POSY</a></li>
                            <li><a href="#">DOUBLE POSY</a></li>
                            <li><a href="#">LILIES</a></li>
                            <li><a href="#">GIFT CARD</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-list mobile-list">
                    <a href="#accordion-2" class="accordion-title mobile-link">Flower Subscriptions</a>
                    <div class="accordion-content" id="accordion-2" style="display: none;">
                        <ul>
                            <li><a href="#">SHOP ALL FLOWER SUBSCRIPTIONS</a></li>
                            <li><a href="#">MIXED POSY SUBSCRIPTION</a></li>
                            <li><a href="#">MARKET BUNCH SUBSCRIPTION</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-list mobile-list">
                    <a href="#accordion-3" class="accordion-title mobile-link">Order Gift Sets</a>
                    <div class="accordion-content" id="accordion-3" style="display: none;">
                        <ul>
                            <li><a href="#">TEA BREAK</a></li>
                            <li><a href="#">LET IT BLOOM</a></li>
                            <li><a href="#">CHIN CHIN</a></li>
                            <li><a href="#">REMEDY</a></li>
                            <li><a href="#">HOME SWEET HOME</a></li>
                            <li><a href="#">OH BABY</a></li>
                            <li><a href="#">ME TIME</a></li>
                            <li><a href="#">GREEN GOODNESS</a></li>
                            <li><a href="#">MAN OH MAN</a></li>
                            <li><a href="#">GIN O’CLOCK</a></li>
                            <li><a href="#">ILLUMINATE</a></li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-list mobile-list">
                    <a href="#accordion-4" class="accordion-title mobile-link">Order Plants</a>
                    <div class="accordion-content" id="accordion-4" style="display: none;">
                        <ul>
                            <li><a href="#">SHOP ALL PLANTS</a></li>
                            <li><a href="#">RUBY FICUS</a></li>
                            <li><a href="#">DEVILS IVY</a></li>
                            <li><a href="#">BAMBINO FIDDLE LEAF</a></li>
                            <li><a href="#">MONSTERA DELICIOSA</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mobile-list"><a href="#" class="mobile-link">Sustainability</a></li>
                <li class="mobile-list"><a href="#" class="mobile-link">Faq</a></li>
            </ul>
            <ul class="mobile-social flex justify-start align-center">
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1" x="0px" y="0px" height="21px" width="21px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve"
                            class="svg replaced-svg">
                            <g>
                                <g>
                                    <path
                                        d="M373.659,0H138.341C62.06,0,0,62.06,0,138.341v235.318C0,449.94,62.06,512,138.341,512h235.318    C449.94,512,512,449.94,512,373.659V138.341C512,62.06,449.94,0,373.659,0z M470.636,373.659    c0,53.473-43.503,96.977-96.977,96.977H138.341c-53.473,0-96.977-43.503-96.977-96.977V138.341    c0-53.473,43.503-96.977,96.977-96.977h235.318c53.473,0,96.977,43.503,96.977,96.977V373.659z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M370.586,238.141c-3.64-24.547-14.839-46.795-32.386-64.342c-17.547-17.546-39.795-28.746-64.341-32.385    c-11.176-1.657-22.507-1.657-33.682,0c-30.336,4.499-57.103,20.541-75.372,45.172c-18.269,24.631-25.854,54.903-21.355,85.237    c4.499,30.335,20.541,57.102,45.172,75.372c19.996,14.831,43.706,22.619,68.153,22.619c5.667,0,11.375-0.418,17.083-1.265    c30.336-4.499,57.103-20.541,75.372-45.172C367.5,298.747,375.085,268.476,370.586,238.141z M267.791,327.632    c-19.405,2.882-38.77-1.973-54.527-13.66c-15.757-11.687-26.019-28.811-28.896-48.216c-2.878-19.405,1.973-38.77,13.66-54.527    c11.688-15.757,28.811-26.019,48.217-28.897c3.574-0.53,7.173-0.795,10.772-0.795s7.199,0.265,10.773,0.796    c32.231,4.779,57.098,29.645,61.878,61.877C335.608,284.268,307.851,321.692,267.791,327.632z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M400.049,111.951c-3.852-3.851-9.183-6.058-14.625-6.058c-5.442,0-10.773,2.206-14.625,6.058    c-3.851,3.852-6.058,9.174-6.058,14.625c0,5.451,2.207,10.773,6.058,14.625c3.852,3.851,9.183,6.058,14.625,6.058    c5.442,0,10.773-2.206,14.625-6.058c3.851-3.852,6.058-9.183,6.058-14.625C406.107,121.133,403.9,115.802,400.049,111.951z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1" x="0px" y="0px" height="21px" width="21px" viewBox="0 0 430.113 430.114"
                            style="enable-background:new 0 0 430.113 430.114;" xml:space="preserve"
                            class="svg replaced-svg">
                            <g>
                                <path id="Facebook"
                                    d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805   c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354   c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z"
                                    fill="#000"></path>
                            </g>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% for item in search.results %}
  <!-- item details -->
{% endfor %}
<!--header end here-->
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
